@font-face {
    font-family: 'PTSans';
    src: url('../fonts/PTSans/PTSans-Regular.eot');
    src: url('../fonts/PTSans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTSans/PTSans-Regular.woff') format('woff'),
         url('../fonts/PTSans/PTSans-Regular.ttf') format('truetype'),
         url('../fonts/PTSans/PTSans-Regular.svg#PTSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
	font-family:'PTSans';
	src: url('../fonts/PTSans/PTSans-Bold.eot');
	src: url('../fonts/PTSans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PTSans/PTSans-Bold.woff') format('woff'),
		url('../fonts/PTSans/PTSans-Bold.ttf') format('truetype'),
		url('../fonts/PTSans/PTSans-Bold.svg#PTSans-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB02;
}
@font-face {
	font-family:'Kazimir';
	src: url('../fonts/Kazimir-Italic/Kazimir-RegularItalic.eot');
	src: url('../fonts/Kazimir-Italic/Kazimir-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Kazimir-Italic/Kazimir-RegularItalic.woff') format('woff'),
		url('../fonts/Kazimir-Italic/Kazimir-RegularItalic.ttf') format('truetype'),
		url('../fonts/Kazimir-Italic/Kazimir-RegularItalic.svg#Kazimir-RegularItalic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-FB02;
}
@font-face {
	font-family:'SocialGothic';
	src: url('../fonts//SocialGothic-Bold/SocialGothic-Bold.eot');
	src: url('../fonts//SocialGothic-Bold/SocialGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts//SocialGothic-Bold/SocialGothic-Bold.woff') format('woff'),
		url('../fonts//SocialGothic-Bold/SocialGothic-Bold.ttf') format('truetype'),
		url('../fonts//SocialGothic-Bold/SocialGothic-Bold.svg#SocialGothic-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB02;
}
