/*================================================================================| reset |================================================================================*/
/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main{display:block;}
blockquote, q{quotes:none;font-style:italic}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-width:0px;padding:0px;margin:0px;}
html{height:100%;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;}
input, textarea{color:#212121;outline:none;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;-webkit-appearance:none;}
input[type="button"], input[type="submit"], button{cursor:pointer}
td{margin:0px;padding:0px;}
form{padding:0px;margin:0px;}
a{color:#1d4f91;text-decoration:none;outline:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
input[type=submit], input[type=button], button{-webkit-appearance:none;outline:none;}
body{margin:0;padding:0;background-color:#fff;height:100%;position:relative;color:#252525;font:13px/1.2 'PTSans', arial, tahoma, sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.clearfix:after,.wrapper:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.main-wrapper{padding:0 0 0 0;min-width:768px;position:relative;overflow:hidden;min-height:100%;}
.wrapper{min-width:768px;max-width:1600px;padding:0 43px;margin:0 auto;position:relative;}
.wrapper-main{padding-top:28px}
a:hover{text-decoration:underline}
a:active{color:#d22630}
b, strong{font-weight:700}
.field{height:24px}
textarea.field{height:auto}
p{font-size:1em;line-height:1.3em;padding:0 0 8px;font-weight:400;}
p:last-child{padding-bottom:0}
h1{font-family:'SocialGothic', arial, tahoma, sans-serif;font-size:1.307em;line-height:1.45;}
h2{color:#1d4f91;font-family:'SocialGothic', arial, tahoma, sans-serif;font-size:15px;font-weight:700;padding:15px 0}
h3{color:#1d4f91;}
.h2-small{font-size:1.875em;}
h3{font-weight:400;}
img{max-width:100%}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea{border:1px solid #e1e1e1;font-family:'PTSans', arial, tahoma, sans-serif;padding-bottom:3px;padding-left:8px;padding-right:8px;font-size:1em;height:24px;max-width:100%;box-shadow:none}
input[type="text"]:disabled, input[type="email"]:disabled, input[type="password"]:disabled, input[type="tel"]:disabled, textarea:disabled{background:#fff;color:rgba(37,37,37, .3)}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="tel"]:focus, textarea:focus{border-color:#bfbfbf}
textarea{height:auto;}
input[type="file"]{cursor:pointer;}
.text-left{text-align:left!important}
.text-center{text-align:center!important}
.text-right{text-align:right!important}
.nowrap{white-space:nowrap!important;}
.button{background:#1d4f91;border:0;color:#fff;display:inline-block;font-size:13px;max-width:100%;padding:4px 10px 5px;text-align:center;}
.button:hover{background:#1f4980;color:#fff;text-decoration:none}
.button:disabled, .button:disabled:hover{cursor:default;opacity:.15}
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}
header{background:#fff;font-size:100%;min-width:768px;text-align:left;position:absolute;left:0;right:0;top:0;z-index:102;}
.header-inner{padding:19px 0 0;}
.header-logo{float:left;padding-right:6px;}
.header-logo__main{height:73px;margin-top:-1px;width:94px;}
.header-logo__fix{display:none;height:30px;width:14px;}
.header-selects{padding:7px 0 11px}
.main-nav.fixed .main-nav-list{min-width:768px;max-width:1600px;padding:0 43px;margin:0 auto;position:relative;}
.main-nav-list__item{display:inline-block;list-style:none;vertical-align:top;}
.main-nav-list__link{color:#1d4f91;display:inline-block;font-weight:700;padding-bottom:5px}
.main-nav-list__link:after{content:'';background:#1d4f91;display:inline-block;height:11px;margin:0 6px -2px 11px;width:1px;}
.main-nav-list__item:last-child .main-nav-list__link:after{display:none;}
.active .main-nav-list__link{color:#d22630}
.header-middle{float:left;}
.small-selects{float:left;font-size:0.7692em;margin-right:21px;}
.small-selects:last-child{margin-right:0}
.link-mob{margin:0 50px 0 0;width:auto;}
.link-mob__link{color:#7d7d7d;font-size:10px;}
.link-mob__link:hover{text-decoration:none}
.link-mob__link span{text-decoration:underline}
.link-mob__link:hover span{text-decoration:none}
.link-mob__link i{background:url('../img/icons_sprite.png') -8px -8px no-repeat;display:inline-block;height:12px;margin:0 4px -2px 0;width:6px;}
header .close-but{display:none;}
.header-time{color:#7d7d7d;font-size:10px;margin-top:8px;}
.header-time span{margin-right:9px}
.header-time b{margin-left:9px}
.search-block{margin:9px 0 0;position:relative}
.search-bl{max-width:140px;position:relative;}
.search-bl__input[type="text"]{font-size:14px;padding-left:11px;padding-right:28px}
.search__field::-webkit-input-placeholder{color:#e1e1e1;font-size:1.077em;}
.search__field::-moz-placeholder{color:#e1e1e1;font-size:1.077em;}
.search__field:-moz-placeholder{color:#e1e1e1;font-size:1.077em;}
.search__field:-ms-input-placeholder{color:#e1e1e1;font-size:1.077em;}
.search-bl__submit{background:url('../img/strelka-04.svg') no-repeat;border:0;height:8px;right:13px;padding:0;position:absolute;top:8px;width:10px;}
.search-block .more-item{font-size:11px;padding:6px 0 0 12px}
.detailed-search{background:#fff;display:none;left:0;margin-top:2px;max-width:170px;padding:17px 0 0;position:absolute;top:100%;max-width:150px;}
.row-group{margin:0 -6px}
.row-group .form-group{float:left;margin-left:6px;margin-right:6px}
.row-group .form-group .field{max-width:100%}
.row-group .label-form{padding:0 6px}
.form-group{margin-bottom:10px}
.label-form{display:block;font-size:11px;margin-bottom:5px;}
.label-form.disabled{opacity:.3}
.field-1{width:33px}
.field-2{width:50px}
header.fixed{padding:0;}
header.fixed .header-inner{background:#fff;left:0;padding:10px 0;position:fixed;right:0;top:0}
header.fixed .header-logo__fix{display:inline-block;}
header.fixed .header-logo__main,header.fixed .search-block,header.fixed .header-selects{display:none;}
header.fixed .col-left{width:5.1%}
header.fixed .col-middle{width:74.12%}
header.fixed .main-nav{padding-top:18px}
header.fixed .header-time{margin-top:21px;}
.row{margin-left:-12px;margin-right:-12px;}
.col-left, .col-right, .col-middle{float:left;min-height:1px;padding-left:12px;padding-right:12px;}
.col-left{width:15.6%}
.col-right{padding-left:24px;width:20.78%}
.col-middle{width:63.62%}
.sticky-wrap{position:relative;}
.sticky-nav.fixed{position:fixed;top:0;}
.sticky-nav.bottom{position:absolute;bottom:0;top:auto !important;}
.aside-left .aside-inner{padding-top:6px;}
.aside-left h2{padding-bottom:8px;padding-top:0}
.menu-aside{font-size:13px}
.stavki-list{margin-top:10px;max-width:126px;overflow:hidden}
.stavki-list.mCustomScrollbar, .tab-list.mCustomScrollbar{margin-right:-12px;}
.menu-aside__item{list-style:none; /*padding-bottom:5px*/}
/*.menu-aside__item:last-child{padding-bottom:0}
*/
.menu-aside__item.more-item{margin-bottom:0;margin-top:4px;}
.menu-aside__link {
    color: inherit;
    display: inline-block;
    background-color: lightskyblue;
    width: 100%;
    padding: 5px 15px;
}
.menu-aside__link.active {
    border-right: 5px solid blue;
    background-color: chartreuse;
}
.menu-aside__link.active span{/*color:#d22630;*/font-weight:700}
.menu-aside__link:hover{
	text-decoration:none;
    background-color: chartreuse;
}
.menu-aside__link:hover span{text-decoration:underline}
.menu-aside__count{font-size:9px;padding:0 0 0 5px;}
.menu-aside__link.active .menu-aside__count{color:#252525}
.more-item a{border-bottom:1px dotted;color:inherit;font-size:11px}
.more-item .menu-aside__link{font-size:11px;}
.more-item a:hover{border-bottom-color:transparent;text-decoration:none}
.block-hide{display:none;}
.line-heading{color:#1d4f91;font-size:11px;font-weight:700;padding-top:14px}
.choice-list__item{list-style:none;margin-bottom:5px;}
.choice-list__link{color:inherit;font-weight:700;position:relative;padding-left:16px;}
.choice-list__link.active{color:#d22630;cursor:default;}
.choice-list__link:hover{text-decoration:none;}
.choice-list__link:hover span{text-decoration:underline}
.choice-list__link.active:hover span{text-decoration:none}
.choice-list__icon{background:url('../img/svg/1make8x8.svg') no-repeat;height:8px;left:0;position:absolute;top:4px;width:8px;}
.choice-list__icon.icon_2{background-image:url('../img/play.gif')}
.choice-list__link b{font-size:9px;}
.choice-list__link.active b{color:#252525}
.box-slider{margin-top:-28px;}
.events{margin:13px -6px -12px;}
.events__item{float:left;margin-bottom:12px;padding:0 6px;width:33.3333%}
.events__link{display:block;position:relative;}
.evants__overlay{
    background: rgba(29,79,145,0.3);bottom:0;color:#fff;left:0;opacity:1;position:absolute;right:0;top:0;z-index:1;transition:all .3s ease;}
.events__item:hover .evants__overlay{opacity:1;background:rgba(0,0,0,0)}
.events__picture{overflow:hidden;text-align:center;width:100%}
.events__picture img{vertical-align:top;width:100%;}
.events__heading{display:block;font-family:'SocialGothic', arial, tahoma, sans-serif;font-size:13px;font-weight:700;left:0;letter-spacing:0.06em;line-height:1.6;max-height:58px;overflow:hidden;margin:5px 12px;position:absolute;text-transform:uppercase;right:0;top:5px}
.events__details{bottom:4px;display:block;font-size:11px;font-weight:700;letter-spacing:0.04em;padding:5px 14px;left:0;position:absolute;right:0;}
.aside-heading{letter-spacing:0.06em;}
.aside-right .aside-heading{padding:0 0 12px;}
.login-aside{margin:0 0 33px;}
.login-aside__item{display:inline-block;list-style:none;}
.login-aside__link{color:#d22630;display:inline-block;font-weight:700;line-height:1;}
.login-aside__item:first-child .login-aside__link:after{content:'';background:#d22630;display:inline-block;height:11px;margin:0 6px -2px 10px;width:1px;}
.rate-tab{padding:9px 0 0;}
.rate-link-tab{border-bottom:1px solid #4a72a7;margin-bottom:12px;padding-bottom:8px}
.rate-link-tab__item{display:inline-block;list-style:none;}
.rate-link-tab__item:after{content:'';background:#c2c2c2;display:inline-block;height:9px;margin:0 5px -1px 6px;width:1px;}
.rate-link-tab__item:last-child:after{display:none}
.rate-link-tab__link{color:#7d7d7d;font-size:11px;}
.active .rate-link-tab__link{color:#1d4f91;cursor:default;font-weight:700;}
.active .rate-link-tab__link:hover{text-decoration:none}
.disabled.rate-link-tab__link{cursor:default;}
.disabled.rate-link-tab__link:hover{text-decoration:none}
.disabled.rate-link-tab__link:active{color:#7d7d7d;}
.tab-cont{display:none;}
.tab-cont.active{display:block;}
.rate{font-size:11px;}
.rate p{line-height:1.5em;}
.stavka__item{border-bottom:1px solid #ccc;font-size:11px;list-style:none;margin-top:12px;padding-bottom:11px;position:relative;}
.stavka__item:first-child{margin-top:0}
.stavka__link{color:#1d4f91;display:inline-block;line-height:1.5;font-weight:700;margin-right:13px}
.stavka__description{line-height:1.35;margin-top:5px}
.stavka__description b{font-size:13px}
.stavka__description .old-koef{text-decoration:line-through;}
.remove-item{background:none;border:0;display:block;padding:6px;position:absolute;top:-2px;right:-5px}
.remove-item:before{content:'';background:url('../img/icons_sprite.png') 0 -16px no-repeat;display:block;height:8px;width:8px}
.stavka__row{margin:10px -6px 0}
.stavka__row:first-child{margin-top:0 }
.save-fast-rate{background:0;border:0;border-bottom:1px dotted;float:right;font-size:11px;padding:0;}
.save-fast-rate:hover{border-bottom-color:transparent}
.stavka__td{float:left;padding:0 6px;width:50%}
.stavka__count{border:1px solid #e1e1e1;margin-top:5px;width:100%;}
.stavka__count[type="text"]{font-size:13px;}
.koef-up{color:#009500;font-size:13px;font-weight:700}
.koef-up i{display:inline-block;height:0;margin-right:4px;width:0;border-left:4px solid transparent;border-right:4px solid transparent;border-bottom:8px solid #009500;}
.koef-up > *{vertical-align:middle}
.stavka__info + .stavka__row{margin-top:7px;}
.stavka__description + .stavka__row{margin-bottom:4px;}
.rate-system .stavka__item, .rate-express .stavka__item{padding-top:8px}
.rate-system .stavka__item:first-child, .rate-express .stavka__item:first-child{padding-top:0}
.rate-system .clean-all, .rate-express .clean-all{margin-top:6px}
.fields-4{margin-top:10px}
.total-koef{margin-top:23px}
.clean-all{margin:10px 0 0}
.clean-all a{border-bottom:1px solid #989898;font-weight:700}
.clean-all a:hover{border-bottom-color:transparent}
.field-3{width:100%}
.fields-1 .jq-selectbox{width:100%}
.fields-2{margin-top:15px}
.fields-3{margin-bottom:12px;margin-top:10px}
input.stavka_field[type="text"]{background:#fff;border:0}
.rate__on-wrap .stavka__item{border:0;padding:0}
.button-bet{margin:2px 0 0;width:100%}
.info-2{margin-top:12px;}
.can-toggle-1{float:right;position:relative;}
.fast-content{display:none;padding-bottom:10px;padding-top:2px}
.fast-content, .rate_off{padding-right:24px;}
.on .fast-content{display:block}
.on .rate_off{display:none}
.fast-rate__heading{float:left;font-size:13px}
.rate__info{color:#7d7d7d;font-size:11px;letter-spacing:-0.01em;line-height:1.5}
.rate__info p{color:inherit;font-size:inherit;line-height:inherit;padding-bottom:0}
.lk{padding:6px 0 39px}
.lk .aside-heading{padding:0 0 14px}
.login{border-bottom:1px solid #bbb;font-size:11px;margin-bottom:1px;padding-bottom:7px;}
.lk.open .login{padding-bottom:0;}
.lk.open .login{border-bottom-color:transparent}
.login__title{color:#7d7d7d}
.login__title, .login__value{bottom:-4px;padding-bottom:5px;position:relative;}
.login__title{float:left;}
.login__value{font-weight:700;padding-left:11px;text-overflow:ellipsis;overflow:hidden;}
.login-more{display:none;}
.login-more.open{display:block;}
.button-exit{float:left;max-width:100%;width:70px;}
.lk__nav{margin-top:12px}
.lk.open .lk__nav{margin-top:17px}
.lk__nav .more-item{float:right;margin-top:4px;}
.login-block__list{border-top:1px solid #bbb;padding:12px 0 0;margin:10px 0 0}
.login-block__item{list-style:none;margin-bottom:5px;}
.login-block__link{color:inherit;}
.login-block__link:hover{text-decoration:none;}
.login-block__link:hover span{text-decoration:underline;}
.login-block__link.active, h1.login-block__link{color:#d22630;font-family:inherit;font-size:inherit;font-weight:700;padding:0;text-transform:none;}
.login-block__link b{font-size:9px;font-weight:700;padding-left:5px}
footer{background:#252525;bottom:0;left:0;right:0;padding:16px 0 5px;position:absolute;}
.footer-logo{margin-top:4px}
.footer-logo img{height:55px;margin-top:-5px;width:22px;}
.footer-nav__item{list-style:none;padding-bottom:5px}
.footer-nav__link{color:#fff;font-size:11px}
.footer-way-pay{margin-bottom:8px}
.footer-way-pay__item{display:inline-block;list-style:none;margin-right:8px}
.footer-way-pay__item img{height:24px;width:82px}
.col-2-main{float:left;width:16.6666666666667%;}
.footer-nav__col{list-style:none;}
.footer-nav__badge{display:inline-block;font-size:12px;margin:0 0 0 4px;opacity:0.5;}
.footer-bottom{margin-top:28px;}
.link-sait{float:right;margin-top:12px;}
.link-sait__link{color:#7d7d7d;font-size:11px;text-decoration:underline;}
footer .col-right{padding-left:12px}
.box-about{padding-top:8px;}
.article__figure img{width:100%;}
.article-about__description{margin:21px -6px 0}
.article-about__heading, .article-content{float:left;padding:0 6px}
.article-about__heading{color:#1d4f91;font-family:'SocialGothic', arial, tahoma, sans-serif;font-size:2.30769em;line-height:1.5;width:58.33333333333333%;}
.article-content{width:41.66666666666667%}
.article-content p{line-height:1.6;}
.article-about ul{margin:0 0 10px 1px;}
.article-about li{list-style:none;margin-bottom:5px;padding-left:12px;position:relative;z-index:0}
.article-about li:before{content:'';background:#252525;display:block;height:1px;left:0;position:absolute;top:8px;width:8px;z-index:0}
.accordion__head{border-bottom:1px solid #7d7d7d;cursor:pointer;font-size:0.8461em;padding:6px 0 8px;}
.accordion__head.open{border-bottom-color:#1d4f91}
.accordion__body{border-bottom:1px solid #7d7d7d;display:none;padding:14px 0 13px}
.accordion-numeric, .accordion-numeric ol{counter-reset:item;}
.accordion__body.show{display:block;}
.accordion-numeric h2:before, .accordion-numeric .accordion__item ol>li:before{content:counters(item,".") ". ";counter-increment:item;font-size:11px;font-weight:700}
.accordion-numeric ol>li{list-style:none;margin-bottom:12px}
.accordion-numeric ol>li ol{margin-top:12px}
.accordion-numeric .accordion__body{line-height:1.55}
.accordion__heading{color:inherit;font-family:inherit;font-size:1em;font-weight:700;padding:0;width:62%}
.accordion__heading:hover{text-decoration:underline}
.accordion__head.open .accordion__heading{color:#1d4f91;font-weight:700}
.box-supports{padding-top:3px;}
.box-supports .accrodion{font-size:0.84615em}
.block-suppotrs__tab{padding-top:16px;}
.supports-link-tab__item{display:inline-block;list-style:none;margin:0 9px 12px 0;}
.supports-link-tab__item:last-child{margin-right:0;}
.supports-link-tab__link{border:1px solid #e5e5e5;color:#7d7d7d;display:block;font-size:0.84615em;height:24px;line-height:22px;padding:0 9px 0 10px;border-radius:15px}
.active .supports-link-tab__link, .supports-link-tab__link:hover{background:#1d4f91;border-color:#1d4f91;color:#fff;text-decoration:none}
.box-akzii{padding-top:8px}
.akzii{margin:0 -6px}
.akzii__item{display:inline-block;font-family:'SocialGothic', arial, tahoma, sans-serif;margin:0 -4px 12px 0;padding:0 6px;position:relative;vertical-align:top;width:33.333333%}
.akzii__link{color:#fff;}
.akzii__img{width:100%;vertical-align:top;transition:transform .3s ease;transform:scale(1,1)}
.akzii__link figure{overflow:hidden;}
.akzii__link:hover .akzii__img{transform:scale(1.05,1.05)}
.akzii__heading{display:block;letter-spacing:0.05em;line-height:1.25;max-height:32px;max-width:65%;overflow:hidden;}
.akzii__note{display:block;font-size:3.07692em;letter-spacing:0.07em;line-height:1.1;margin-left:-1px;}
.akzii__overlay{bottom:0;left:0;padding:5px 18px;position:absolute;right:0}
.action-heading{margin-bottom:20px;padding-top:4px}
.action{margin:0 -6px;}
.action__item + .action__item{margin-top:40px}
.action__left, .action__right{float:left;padding:0 6px;width:100%}
.action__left{padding-right:20px;width:33.3333333%}
.action__right{width:66.666667%}
.action__heading{display:block;line-height:1.3;margin-bottom:16px;}
.action__description{font-size:0.84615em;line-height:1.5;}
.back-text{margin-top:16px}
.back-link{color:#7d7d7d;font-size:0.84615em;text-decoration:underline;}
.back-link:hover{text-decoration:none;}
.list-tab{display:table;table-layout:fixed;width:100%}
.list-tab__row{display:table-row}
.list-tab__col{border-bottom:1px solid #7d7d7d;display:table-cell;min-height:1px;padding:9px 0 6px;vertical-align:top}
.list-tab__col.col-1{width:95px}
.list-tab__col.col-1 span + span, .history-tab__col.col-1 span + span{padding-left:5px}
.list-tab__col + .list-tab__col{padding-left:5px}
.list-tab__row-head .list-tab__col{border-bottom-color:#1d4f91;padding-bottom:8px;padding-top:2px;}
.list-tab__col.col-3{width:17%}
.list-tab__col.col-4{width:16%}
.list-tab__col p{padding-bottom:2px}
.tab-action{font-size:0.84615em;font-weight:700}
.list-koef{margin-top:13px;}
.list-koef__row{border-bottom:1px dotted #252525;list-style:none;margin-bottom:1px;}
.list-koef__row-total{color:#1d4f91;font-weight:700}
.list-koef__col{background:#fff;bottom:-3px;padding-bottom:3px;position:relative;}
.list-koef__col.col-1{float:left;max-width:95%;overflow:hidden;padding-right:10px;text-overflow:ellipsis;}
.list-koef__col.col-2{float:right;}
.button-stavka{margin-top:15px;width:188px;}
.box-contacts{padding-top:8px;}
.map{border:1px solid #ededed;height:264px;width:100%;}
.leaflet-bottom{display:none}
.contacts-shop{margin:30px -6px 0}
.col-c-left, .col-c-right{float:left;padding:0 6px;}
.col-c-left{width:33.333333%;}
.col-c-right{width:66.666667%;}
.contacts-shop__selects{max-width:138px;}
.info-bl{color:#7d7d7d;font-size:11px;line-height:1.5;}
.info-bl-conctacts{padding-top:6px}
.list-shop{font-weight:700;margin:18px 0 0 14px;max-width:300px}
.list-shop__item{line-height:1.25;margin-bottom:8px;padding-left:10px;}
.list-shop__item span{font-weight:400}
.box-balans{padding-top:12px;}
.balans__filters{text-align:right;}
.balans__select{display:inline-block;margin-left:8px;vertical-align:middle}
.balans__label + .balans__select{margin-left:10px}
.balans__label + .balans__select-date{margin-left:5px}
.balans-part:nth-child(2) .balans__label + .balans__select{margin-left:7px}
.balans__label{font-size:0.84616em;}
.balans-part{display:inline-block;margin-bottom:12px;vertical-align:middle}
.balans-part + .balans-part{margin-left:8px}
.button-balans{width:148px;}
.balans__list{font-size:0.84616em;line-height:1.5;margin-top:8px;}
.list-tab__row-head .list-tab__col{color:#1d4f91;font-weight:700}
.sum-plus{color:#00b400}
.sum-minus{color:#d22630}
.balans__list .list-tab__col{padding-bottom:7px;padding-top:8px}
.balans__list .col-2 span{display:inline-block;}
.payment{margin:0 -6px;padding-top:11px}
.payment-remove{padding-top:6px}
.payment__item{display:inline-block;margin-right:-4px;padding:0 6px 39px;text-align:center;vertical-align:top;width:33.33333%}
.payment__items-disabled .payment__item{opacity:.3}
.payment__figure{height:117px;}
.payment__item-kassa .payment__figure{height:122px;margin-top:-5px}
.payment__figure{height:117px;}
.payment__link{border-bottom:1px solid;color:#1d4f91;padding-bottom:3px;}
a.payment__link:hover{border-bottom-color:transparent;text-decoration:none;}
.payment__description{font-size:0.84616em;font-weight:700;line-height:1.5;margin-top:13px}
.payment__description > div + div{margin-top:4px}
.payment__form{display:inline-block;margin-left:8.3333333%;margin-top:-3px;max-width:144px;padding-left:6px;width:25%}
.payment__form .button{margin-top:16px;width:100%;}
.payment__form .info-bl{padding-top:2px;}
.back-list-pay{margin-bottom:15px;}
.payment__info{margin-bottom:22px;padding-left:6px;padding-right:6px}
.payment__note{font-size:0.84615em;line-height:1.85;}
.button-cancel-funds{margin-top:35px;width:138px}
.code{margin:18px -6px 0;}
.code__button, .code__inp, .code__submit{float:right;padding:0 6px;width:25%}
.code__button{float:left;}
.code__button_inner >*, .code__inp >*, .code__submit >*{display:block;margin-bottom:12px;width:100%;}
.code__inp input[type="text"]{padding-bottom:1px;padding-left:11px;padding-right:11px;}
.code__warning{text-align:right}
#numberCard{font-size:.98em}
.payment__form-1 .back-list-pay{margin-bottom:19px;margin-top:-4px}
.settings{margin:0 -4.6%;text-align:center}
.settings__col{display:inline-block;padding:0 4.6%;vertical-align:top;}
.settings__col_inner{display:inline-block;max-width:188px;text-align:left;}
.settings .field,.settings .button{width:100%}
.settings .field-1, .popups .field.field-1{width:50px}
.settings .field-2, .popups .field.field-2{width:63px}
.settings .field-3, .popups .field.field-3{margin-left:9px;width:125px}
.file-load{margin:40px 0 0 25px;}
.button-change{margin-top:18px;}
.passwords-bl{margin-bottom:22px}
.panel-top{padding-bottom:8px;padding-top:7px;border-bottom:1px solid #183d80;}
.panel-nav_sm{float:right;margin-bottom:0;padding-bottom:1px;}
.panel-pagening{float:left;padding-left:11px;padding-top:1px;}
.text-info{color:#7d7d7d;letter-spacing:0.03em;}
.panel-nav__item{position:relative;display:inline-block;vertical-align:top;margin-right:28px;}
.panel-nav__item:last-child{margin-right:0;}
.panel-nav__link{color:#7d7d7d;font-size:0.84615em;}
.panel-nav__link.active, .panel-nav__link:hover, .text-info.active, .text-info:hover{color:#1d4f91;text-decoration:none}
.counter{color:#7d7d7d;font-size:11px;padding-left:6px}
.message-list__item{background-color:#f4f4f4;list-style:none;margin-top:12px;}
.message-list__header{cursor:pointer;font-size:0.84615em;margin:0 -6px;position:relative;padding:6px 45px 5px 10px;}
.message-list__header.active{color:#1d4f91;font-weight:400}
.message-list__header:before{position:absolute;top:10px;right:34px;content:'';display:block;height:6px;width:11px;transition:background 0.3s;background:url('../img/icons_sprite.png') -36px -25px no-repeat;}
.message-list__header.active:before{background-position:-36px -31px;}
.message-list__title{float:left;font-weight:400;padding:0 6px 0 9px;width:75%}
.message-list__content{display:none;margin-top:3px;padding:0 10px 6px;border-top:1px solid dimgrey;}
.message-list__content h3{color:inherit;font-size:1.3846em;font-weight:700;padding-top:11px;padding-bottom:14px;}
.message-list__content p{line-height:1.6;padding-bottom:12px;}
.message-list__content p:last-child{padding-bottom:0;}
.message-list__item_new .message-list__title{font-weight:700}
.message-list__date{float:left;padding:0 6px;width:25%;}
.message-addressee{font-size:0.84615em}
.history-tab{font-size:0.84615em;margin-top:8px;}
.history-tab__item{border-bottom:1px solid #7d7d7d;width:100%}
.history-tab__item-head{border-bottom-color:#1d4f91}
.history-tab__item-head .history-tab__col{color:#1d4f91;font-weight:700}
.history-tab__row-sub{display:none;margin-top:8px}
.history-tab__row-sub .history-tab__row{border:0}
.history-tab__row{margin:0 -6px}
.history-tab__col{float:left;line-height:1.5;padding:8px 6px 7px;}
.history-tab__col.col-1{width:16.66667%}
.history-tab__col.col-2{width:13.3%}
.history-tab__col.col-3{width:20.03333333%}
.history-tab__col.col-4{width:16.66667%}
.history-tab__col.col-5{width:16.66667%}
.history-tab__col.col-6{width:16.66667%}
.history-tab__col.col-7{width:36.7%}
.history-tab__col.col-8{padding-right:12px;width:55.1%}
.history-tab__col.col-9{padding-right:12px;width:44.9%}
.dop-head, .dop-content{display:none}
.dop-head{background:#f6f6f6;color:#7d7d7d;cursor:pointer;font-weight:700;margin-top:1px;padding:6px 12px 5px;}
.dop-head >span{padding-right:20px;position:relative;}
.dop-head span:before, .link-tab:before, .line__heading:after{position:absolute;top:5px;right:0;content:'';display:block;height:6px;width:11px;background:url('../img/icons_sprite.png') -36px -25px no-repeat;}
.dop-head.active span:before, .link-tab.active:before, .line__heading.active:after{background-position:-25px -31px;}
.dop-content{padding:6px 0 0 12px}
.succsess-text{color:#00b400}
.history-tab__item .succsess-text, .history-tab__item .text-warning{display:inline-block;font-size:13px;line-height:17px;}
.history-tab__item .divider{margin:0 7px;vertical-align:top}
.bl-1{margin-top:14px;}
.link-tab{cursor:pointer;padding-right:19px;position:relative}
.popups{background:#f4f4f4;padding:37px 50px 39px;width:289px;left:50%;margin-left:-145px;overflow:auto;position:fixed;top:-200%;transition:all .5s ease-in;z-index:1000}
.popups-big{margin-left:-245px;width:490px;}
.popups-inner{position:relative}
.popups.open{transition:all .5s ease-out;top:0;}
.popups h3{font-family:inherit;font-size:1.3846em;font-weight:700;line-height:1.35;margin-bottom:34px;padding-right:30px;}
.popups .h-regi{margin-bottom:6px;}
.popups .button{margin-top:24px;width:100%}
.popups .button-send{margin-top:7px;}
.popups .form-group + .button{margin-top:10px;}
.close-popup{background:url('../img/icons_sprite.png') -47px -25px no-repeat;display:block;height:16px;position:absolute;right:-2px;top:2px;width:16px;}
.popups p{line-height:1.6;}
.popups__content p{padding-bottom:0}
.block-info{font-size:0.84615em;margin-top:12px;padding-right:5px}
.popups .block-info p{line-height:1.5;}
.popups .field{width:100%}
.bl-3{font-size:0.84615em;text-align:right;}
.bl-3 a{text-decoration:underline;}
.bl-3 a:hover{text-decoration:none;}
.bl-4{padding-bottom:9px;padding-top:10px;}
.bl-6{padding-top:30px;}
.popups__row{margin:0 -6px}
.popups__col{float:left;padding:0 6px;width:50%}
.popups .file-load{margin-top:13px}
.popups .file-load.file-load-regi{margin-top:30px}
.popups__row-1{padding-top:27px}
textarea.field.textarea-mes{height:220px;resize:vertical}
.accept-rules{line-height:1.5;letter-spacing:-0.02em;margin-top:20px;margin-bottom:13px}
.accept-rules-fast{margin-top:11px}
.accept-rules .jq-checkbox{float:left;}
.accept-rules .text-inform{font-size:0.84615em;margin-left:18px}
.accept-rules a{color:inherit;text-decoration:underline;}
.accept-rules a:hover{text-decoration:none;}
.choice-regi{margin-bottom:12px;}
.choice-regi__item{display:inline-block;list-style:none;}
.choice-regi__item:after{content:'';background:#7d7d7d;display:inline-block;height:9px;margin:0 4px -1px 6px;width:1px;}
.choice-regi__item:last-child:after{display:none;}
.choice-regi__link{color:#7d7d7d;font-size:0.84615em}
.choice-regi__link.active{color:#1d4f91;font-weight:700}
.blur{-webkit-filter:blur(4px);-moz-filter:blur(4px);-o-filter:blur(4px);-ms-filter:blur(4px);filter:url(#blur);filter:blur(4px);filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');}
.ie-11 .foggy-pass-absolute{width:100%}
.rates-list .accordion__heading{font-weight:700;width:100%;}
.rates-list .accordion__body{padding-bottom:11px}
.rates-list .accordion__head.open +.accordion__body{border-bottom-color:transparent}
.rates-list .dop-head{color:inherit;cursor:default}
.rates-list .dop-head, .rates-list .dop-content{display:block}
.rates-list .dop-details{display:none;padding-left:14px;padding-top:0}
.rates-counts{color:#898989;font-size:0.84615em;padding-left:7px;}
.results-list{list-style:none;padding:2px 0 0 14px;}
.results-list__item{margin-bottom:17px;}
.results-list__date{float:left;font-size:0.84615em;padding-top:2px;}
.results-list__description{margin-left:103px}
.results-list__description .text-warning{font-weight:700}
.rates-line{padding-top:5px}
.dop-details{display:none}
.line__heading_wrap{display:block;font-size:13px;margin:0 60px 0 109px;}
.line__heading{cursor:pointer;line-height:1.55;}
.line__heading.active{color:#1d4f91}
.lines-list .accordion__body{font-size:0.84615em;}
.lines-list .dop-head{padding-bottom:6px;padding-right:6px;}
.lines-list .dop-head span:before{display:none}
.lines-list .dop-head span.line__heading:after{display:inline-block;margin-bottom:6px;margin-left:6px;position:static;vertical-align:bottom;}
.line-date{color:#252525;float:left;padding-top:4px;}
.dop-line{margin-bottom:8px;line-height:1.6;}
.dop-line__heading{color:#1d4f91;font-size:13px;font-weight:700}
.block-1{padding-bottom:9px}
.block-1:last-child{padding-bottom:2px}
.dop-item{line-height:1.6;padding:10px 0 8px 14px;}
.item-r{margin-right:6px;white-space:nowrap;}
.item-r:last-child{padding-left:0}
.item-r__count{cursor:pointer;font-size:13px;text-decoration:underline}
.item-r__count:hover{text-decoration:none}
.item-r-d{white-space:normal}
.item-r-d:after{content:'|';margin:0 0 0 5px;}
.item-r-d:last-child:after{display:none}
.item-r__count-old, .item-r__count-old:hover{cursor:default;text-decoration:line-through}

.accordion__heading.results-accordion{color:#313131;}
.item-res{font-size: 11px; font-weight: 700;color: #313131;white-space: nowrap;margin-right: 8px;letter-spacing: -0.05px;}
.item-res__count{font-size: 13px; font-weight: 400;}
.line-date-res{font-size: 11px; font-weight: 400;color:#313131;float:left;padding-top:4px;letter-spacing: 0.3px;}
.line__heading.result__heading{text-decoration: underline; color: #313131;}
.line__heading.result__heading.active{color:#1d4f91}
.result-details.dop-details {padding-left: 0;}
.result-count .st-bl{color: #898989;margin-left: 3px;}
.accordion__body.results-block {margin-bottom: 18px;}
.results-block .line__heading_wrap {margin-right:0;}

.item-koef{position:relative;}
.koef-down{color:#d22630;}
.item-koef:before{content:'';display:inline-block;margin-left:4px;margin-right:4px;width:0;height:0;border-left:3px solid transparent;border-right:3px solid transparent;vertical-align:middle}
.koef-up:before{border-bottom:6px solid #00b400;}
.koef-down:before{border-top:6px solid #d22630;}
.like-icon, .play-icon, .icon-time{background-repeat:no-repeat;float:right;height:8px;margin-top:6px;width:8px;}
.like-icon{background-image:url('../img/svg/1make8x8.svg');cursor:pointer;}
.unlike-icon{background-image:url('../img/svg/2make8x8.svg');}
.play-icon{background-image:url('../img/play.gif');margin-right:12px;}
.icon-time{background-position:-8px 0;display:inline-block;float:none;margin-right:5px;}
.live-time{font-weight:700;padding-bottom:3px}
.st-bl{color:#7d7d7d;font-size:0.84615em;font-weight:400;}
.count-play{font-size:13px;margin-left:109px;padding-top:2px;}
.time-bl{float:left;}
.live-list .count-play, .live-list .line__heading_wrap{margin-left:104px}
.text-1{font:400 1em/1.2 'PTSans', arial, tahoma, sans-serif;}
h1.text-1{margin-bottom:29px;padding-top:4px}
.results-a{margin-top:17px;}
.results-content{border-bottom:1px solid #1d4f91;letter-spacing:-0.005em;padding-bottom:8px;}
.results-content strong{color:#1d4f91;font-weight:700;}
.results-content__ellipsis{max-width:75%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.link-more{color:#1d4f91;display:inline-block;font-size:0.84615em;margin:10px 0 0;text-decoration:underline;}
.link-more:hover{text-decoration:none;}
.mCustomScrollBox[style*="none"]{overflow:visible !important}
.mCustomScrollBox[style*="none"] .mCSB_scrollTools{display:none !important}
.mCustomScrollBox[style*="none"].mCSB_inside>.mCSB_container{margin-right:0 !important;}
.mCustomScrollBox[style*="none"] .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{padding-right:0 !important;}
.hide{display:none}
.text-warning{color:#d22630}
/* ------------------------------------------------------------- LOADER ----------------------------------------------------------------------------------- */
.history-tab__item-body,
.rates-list .dop-details {
	position: relative;
}
.preload_box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background: #fff;
    min-height: 150px;
}

.balans__list_body {
	margin-top: 0;
	position: relative;
	min-height: 150px;
}
/* ------------------------------------------------------------- LOADER END -------------------------------------------------------------------------------- */

/* ------------------------------------------------------------- PAGINATION --------------------------------------------------------------------------------- */
.box-pag {
	text-align: center;
	padding: 25px 0 40px;
}
.pag__list {
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
}
.pag__item {
	font-size: 11px;
	line-height: 13px;
	display: inline-block;
	vertical-align: top;

}
.pag__link {
	text-decoration: none;
	color: #7d7d7d;
	font-size: 11px;
	line-height: 13px;
	font-weight: 400;
}
.active .pag__link,
.pag__link:hover {
	text-decoration: none;
	color: #1d4f91;
	font-weight: 700;
}
.pag__link_arrow {
	float: left;
	min-width: 115px;
	text-align: left;
}
.pag__link_next {
	float: right;
	text-align: right;
}
/* ----------------------------------------------------------- PAGINATION END -------------------------------------------------------------------------------- */
@media (min-width:1100px){.stavki-list{max-width:95%;min-width:126px;}
}
@media (max-width:1023px){.article__figure{height:228px;overflow:hidden}
.article__figure img{height:100%;max-width:none;width:auto}
}
@media (max-width:1023px){.rate-link-tab__item:after{margin-left:3px;margin-right:2px;}
.akzii__item{width:50%;}
.wrapper-main{padding-top:34px;}
.aside-left .aside-inner{padding-top:0;}
.login-aside{margin-bottom:31px;padding-top:2px}
.lk{padding-bottom:31px;padding-top:0}
.box-slider{margin-top:-34px;}
.box-akzii{padding-top:2px;}
}
@media (max-width:991px){.wrapper{padding-left:15px;padding-right:15px}
.main-nav{max-width:310px}
.fixed .main-nav{max-width:none;}
.col-left{width:19.7%}
.col-middle{width:54%}
.col-right{width:26.3%}
header.fixed .col-left{width:5.9%}
header.fixed .col-middle{width:67.8%}
.events__item{width:50%}
.col-2-main{width:25%}
.box-about{padding-top:2px;}
.article-about__heading{font-size:1.61538em;padding-right:0;width:37.5%}
.article-content{width:62.5%}
.block-suppotrs__tab{padding-top:8px;}
.box-supports .accordion__heading{font-weight:700}
.accordion__heading{width:90%}
.action__left, .action__right{float:none;width:100%}
.action__left{padding-right:6px}
.action__left + .action__right{margin-top:32px}
.box-contacts{padding-top:2px;}
.col-c-left{width:50%;}
.col-c-right{width:50%;}
.box-balans{padding-top:6px;}
.balans-part{display:block;}
.balans-inline-sm{display:inline-block;vertical-align:top;}
.balans-part.balans-inline-sm{margin-left:0}
.balans-part.balans-inline-sm + .balans-part.balans-inline-sm{margin-left:9px}
.balans-part.balans-inline-sm + .balans-part.balans-inline-sm .balans__label + .balans__select{margin-left:4px}
.balans__select-button{display:block;margin-top:12px}
.balans__list{margin-top:16px;}
.balans__list .col-2 span{max-width:92%}
.list-tab__col.col-3{width:26%;}
.list-tab__col.col-4{width:24%;}
.sm-hide, .balans__list .col-2 span.sm-hide{display:none}
.payment{padding-top:0}
.payment__item{width:50%}
.payment__form{display:inline-block;margin-left:12.5%;width:36%}
.code{margin-top:26px}
.code__inp, .code__submit{float:right;width:37.5%}
.code__button{padding:0;width:100%;}
.code__button > .code__button_inner{float:right;padding:0 6px;width:37.5%}
.payment__item-kassa{padding-top:5px}
.settings{margin-left:-6px;margin-right:-6px;}
.settings__col{margin-right:-4px;padding-left:6px;padding-right:6px;}
.panel-top{padding-top:5px}
.message-list__date{width:37.5%}
.message-list__title{padding-left:15px;width:62.5%}
.history-tab{margin-top:18px;}
.history-tab__item{padding-bottom:7px}
.history-tab__item-head{padding-bottom:0}
.history-tab__col.col-1{width:25%}
.history-tab__col.col-2{width:20%}
.history-tab__col.col-3{width:30%}
.history-tab__col.col-4, .history-tab__col.col-5{display:none}
.history-tab__col.col-6{width:25%}
.history-tab__col.col-7{width:30%}
.history-tab__col.col-8{padding-right:12px;width:100%}
.history-tab__col.col-9{display:none}
.dop-head{display:block}
.rates-list{margin-top:-6px}
.results-content__ellipsis{max-width:100%;}
}
@media (max-width:991px) and (min-width:768px){.article-about figure img{height:100%;max-width:none;width:auto}
}
.leaflet-marker-icon{top:0;}
.leaflet-marker-icon:hover{-webkit-animation:bounce 1.5s infinite;animation:bounce 1.5s infinite;-webkit-transition:all 0.8s ease;transition:all 0.8s ease;top:-5px;}





@-webkit-keyframes bounce{0%, 20%, 50%, 80%, 100%{top:0}
40%{top:-15px}
60%{top:-7px}
}
@keyframes bounce{0%, 20%, 50%, 80%, 100%{top:0}
40%{top:-15px}
60%{top:-7px}
}


html{
	overflow-y: scroll;
}

		/*===========EMPTY-PAGE============*/

.kinds-of-sports-list{
	margin-left: -6px;
	margin-right: -6px;
	list-style: none;
	overflow-x: hidden;
}
.kinds-of-sports-list__item{
	width: 33.33333%;
	float: left;
	padding: 0px 6px;
	position: relative;
	margin-bottom: 12px;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}
.kind-of-sport-title__name:after{
	content: "|";
	display: inline-block;
	margin-left: 7px;
	margin-right: 3px;
}
.kinds-of-sports-list__item:hover{
	opacity: 0.7;
}
.kinds-of-sports-list__item-wrapper{
	background-color: #e5e5e5;
	height: 96px;
	overflow: hidden;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: cover;
}
.kinds-of-sports-list__link{
	display: block;
	height: 96px;
}
.kinds-of-sports-list__name{
	position: absolute;
	top: 12px;
	left: 17px;
	font-size: 13px;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	font-family:'SocialGothic', arial, tahoma, sans-serif;
	letter-spacing: 0.6px;
}
.kinds-of-sports-list__image{
	/*background-color: #e5e5e5;*/
	height: 96px;
}
.kinds-of-sports-list__image img{
	max-width: 100%;
	display: block;
}
.event-more-information{
	color: #313131;
	text-decoration: underline;
	position: relative;
	padding-right: 17px;
	display: inline-block;
}
.event-more-information:after{
	content: "";
	position: absolute;
	width: 6px;
	height: 1px;
	background-color: #434343;
	top: 50%;
	right: 4px;
	-moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.event-more-information:before{
	content: "";
	position: absolute;
	width: 6px;
	height: 1px;
	background-color: #434343;
	top: 50%;
	right: 0px;
	-moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.event-more-information:hover{
	text-decoration: none;
}
.rates-line-other{
	margin-left: -103px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 11px;
	color: #313131;
	display: none;
}
.results-list__description.active .event-more-information{
	color: #1d4f91;
}
.results-list__description.active .rates-line-other{
	display: block;
}
.results-list__description.active .event-more-information:before{
	-moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.results-list__description.active .event-more-information:after{
	-moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.kind-of-sport-title{
	padding-top: 5px;
	font-size: 11px;
	color: #313131;
	text-transform: uppercase;
	margin-bottom: 10px;
}

@media (max-width:991px){
	.kinds-of-sports-list__item{
		width: 50%;
	}
}