﻿.can-toggle{cursor:pointer;position:relative;}
.can-toggle *, .can-toggle *:before, .can-toggle *:after{box-sizing:border-box;}
.can-toggle input[type="checkbox"]{opacity:0;position:absolute;top:0;left:0;}
.can-toggle input[type="checkbox"] ~ label .can-toggle__switch{color:#7d7d7d;cursor:pointer;display:inline-block;font-size:.84615em;font-weight:700;line-height:1;}
.can-toggle input[type="checkbox"] ~ label .can-toggle__switch-unchecked{color:#1d4f91;}
.can-toggle input[type="checkbox"] ~ label .can-toggle__switch:after{content:'';background:#7d7d7d;display:inline-block;height:9px;margin:0 4px -1px 6px;width:1px;}
.can-toggle input[type="checkbox"] ~ label .can-toggle__switch-unchecked:after{display:none;}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch{color:#1d4f91;}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch-unchecked{color:#7d7d7d;font-weight:400}
.fast-rate__label{cursor:pointer;display:block;float:right;overflow:hidden;width:38px;}
.can-toggle-1__switch{background:#e1e1e1;color:#fff;cursor:pointer;display:block;float:left;font-size:11px;margin-right:-100%;padding:2px 0 1px;text-align:center;text-transform:uppercase;width:100%;transition:all .3s ease;transform:translate(-100%,0);}
.can-toggle-1__switch-on{background:#d22630;margin-right:0}
.on .can-toggle-1__switch{transform:translate(0,0);}
.can-toggle-1 input[type="checkbox"]{position:absolute;opacity:0;z-index:0;}